.navbar{
    display: grid;
    width: 100%;
    place-items: center;
    padding-block: 13px;
    background-color: rgba(79, 124, 112, 1);
    color: white;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 100;
}
.navinner{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    transition: height 0.5s ease-in-out;
}
.logo{
    width: 30px;
    height: 30px;
}
.left{
    display: flex;
    align-items: center;
    gap: 20px;
}
.links{
    display: flex;
    gap: 2vw;
    align-items: center;
}
.linkbutton{
    padding-block: 8px;
    padding-inline: 15px;
    background-color: black;
    border-radius: 7px;

}
.link{
    color: rgba(255, 255, 255, 0.641);
    transition: color 0.5s ease-in-out,
    background-color 0.5s ease-in-out;
    cursor: pointer;
}
.menubtn{
    display: none;
    padding-block: 7px;
    padding-inline: 15px;
    background-color: black;
    border-radius: 7px;
    cursor: pointer;
}
.link:hover{
    color: rgb(192, 225, 242);
}
@media screen and (max-width: 1200px)  {
    .navinner{
        flex-direction: column;
        gap: 20px;
        height: 37px;
    }
    .links{
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }
    .link{
        width: 100%;
        text-align: center;
        padding-block: 10px;
        background-color: rgba(240, 248, 255, 0.107);
        border-radius: 8px;
    }
    .onmobile{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center ;
    }
    .menubtn{
        display: block;
    }
    .navbar.showmenu .navinner{
        height: 350px;
    }
    .link:hover{
        background-color: rgba(205, 235, 246, 0.207);
    }
    .linkbutton{
        background-color: black;
        width: fit-content;
        color: white;
    }
    .linkbutton:hover{
        background-color: rgb(0, 19, 21);

    }
}